# Add whatever you want to this file

# Build directories.
b/
build/

# QtCreator
CMakeLists.txt.user
*.config
*.creator
*.creator.user
*.files
*.includes
*.kdev4

# Code::Blocks
BuildGen.cbp
BuildGen.layout
BuildGen.*
